@import "../styles/_variables.scss";
@import "../styles/_keyframe-animations.scss";

html {
  scroll-behavior: smooth;
}

@keyframes gradient-x {
  0%,
  100% {
    background-size: 200% 200%;
    background-position: left center;
  }
  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

.animate-gradient-x {
  animation: gradient-x 3s ease infinite;
}
